<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <tracing>
      <traceFailedRequests>
        <add path="*">
          <traceAreas>
            <add provider="ASP" areas="" verbosity="Verbose" />
          </traceAreas>
          <failureDefinitions statusCodes="500" />
        </add>
      </traceFailedRequests>
    </tracing>
  </system.webServer>
  <system.web>
    <compilation tempDirectory="D:\Inetpub\vhosts\w260.platform.net.nz\tmp" />
  </system.web>
</configuration>

